{% extends '_base.html'%}

{%block title%} Detalhes {%endblock title%}
{%block content%}

<section class="container mx-auto py-6 bg-gray-100 rounded-xl">
    <div class="flex flex-col justify-center items-center">
        {%if item.imagem%}
        <figure class="w-1/2">
            <img src="{{item.imagem.url}}" alt="{{imagem.nome}}" class="rounded-lg shadow-lg shadow-white mb-6">
            <figcaption class="text-center w-4/5 mx-auto">
                <ul>
                    <li class="mb-6 text-xl text-white bg-teal-500 rounded-xl py-2">Nome: {{item.nome}}</li>
                    <li class="mb-6 text-xl text-white bg-teal-500 rounded-xl py-2">Marca: {{item.marca_carro}}</li>
                    <li class="mb-6 text-xl text-white bg-teal-500 rounded-xl py-2">Cor: {{item.cor}}</li>
                    <li class="mb-6 text-xl text-white bg-teal-500 rounded-xl py-2">Combustivel: {{item.tipo_combustivel}}</li>
                    <li class="mb-6 text-xl text-white bg-teal-500 rounded-xl py-2">Preço: {{item.preco_formatado}}</li>
                    <li class="mb-6 text-xl text-white bg-teal-500 rounded-xl py-2">Vendedor: {{item.criado_por}}</li>
                    <li class="mb-6 text-xl text-white bg-teal-500 rounded-xl py-2">E-mail: {{item.criado_por.email}}</li>
                </ul>
            </figcaption>
        </figure>
        {%endif%}
    </div>
</section>
{%endblock content%}